body{
  background-image: url('https://st3.depositphotos.com/23993066/34607/i/450/depositphotos_346074154-stock-photo-abstract-blue-background-elegant-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
